@font-face {
    font-family: "Tamil";
    src: url("../fonts/Uni Ila.Sundaram-04.ttf");
}

@font-face {
    font-family: "Baskervville";
    src: url("../fonts/baskervville.regular.ttf");
}

@font-face {
    font-family: "Oxford";
    src: url("../fonts/baskervville.regular.ttf");
}

@font-face {
    font-family: "Domine";
    src: url("../fonts/baskervville.regular.ttf");
}

@font-face {
    font-family: "League Gothic";
    src: url("../fonts/baskervville.regular.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/baskervville.regular.ttf");
}
